@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "KonnectRegular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: './back.png';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 @font-face {
  font-family: "KonnectRegular";
  src: url("./fonts/KonnectRegular.otf") format("opentype");
 }